[Important!] <br/><br/>

This email includes encrypted secret with JavaScript code which can reveal the secret even if you do not have access to DecLegacy. <br/>
We advise you to not delete this email as it is good idea to store important information on multiple servers or locations.<br/> <br/>

We would advise you to set or check recovery email in your email provider (e.g. Gmail) settings in order to make sure that someone will be able to access this information if something unexpected happens to either you or to DecLegacy. 
That way you will protect the secret with two layers of security. <br/> <br/>

<b>Title:</b> <%= @crypted_note.description %><br/> <br/>

<b>Script for secret note decryption:</b><br/> <br/>

<div style="background: black; color: white; border-radius: 10px; font-size:11px; word-wrap: break-word; margin: 0 30px">
  <div style="background: #333; padding: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px; text-align:right; color: #eee"><code>JavaScript</code></div>
  <code style="padding: 20px 10px; display: block"><%= @crypted_note.backup_code %></code>
</div>

<br/> <br/>

In order to reveal the secret, open <em>developer tools &rarr; javascript console</em> in your browser or press
<b><code>CTRL + SHIFT + J</code></b> on Linux or Windows, or <b><code>COMMAND + OPTION + J</code></b> on macOS. <br/> <br/>

Simply paste encrypted secret into the console and use encryption password to decrypt and reveal the secret. 
