[Important!] <br/><br/>

This email includes encrypted secret with JavaScript code which can reveal the secret even if you do not have access to DecLegacy. <br/>
We advise you to not delete this email as it is good idea to store important information on multiple servers or locations.<br/> <br/>

We would advise you to set or check recovery email in your email provider (e.g. Gmail) settings in order to make sure that someone will be able to access this information if something unexpected happens to either you or to DecLegacy. 
That way you will protect the secret with two layers of security. <br/> <br/>

<b>Title:</b> <%= @crypted_note.description %><br/> <br/>

<b>Decryption Script:</b><br/> <br/>

<div style="margin: 0 30px">
  <%= code_block @crypted_note.backup_code %>
</div>

<br/> <br/>

<%= render "crypted_notes/code_block_instructions" %>
