[Important!] <br/><br/>

This email includes encrypted backup of your secret which can be recovered with encryption password and javascript console. <br/> <br/>

<b>Title:</b> <%= @crypted_note.description %><br/> <br/>

<b>Encrypted secret:</b><br/> <br/>

<div style="background: black; color: white; padding: 10px; border-radius: 5px; font-size:10px">
  <code><%= @crypted_note.backup_code %></code>
</div>

<br/> <br/>

In order to reveal the secret, open <em>developer tools &rarr; javascript console</em> in your browser or press
<b><code>CTRL + SHIFT + J</code></b> on Linux or Windows, or <b><code>COMMAND + OPTION + J</code></b> on macOS. <br/> <br/>

Simply paste encrypted secret into the console and use encryption password to decrypt and reveal the secret. 
