Important!<br/><br/>

This email includes encrypted secret with JavaScript code which can be used to retrieve the secret without direct access to DecLegacy. <br/>
We advise you to not delete this email as it is good idea to store important information on multiple virtual locations (DecLegacy + your email).<br/> <br/>

We would also advise you to set setup recovery email in your email provider (e.g. Gmail) in order to make sure that someone will be able to access this information if something unexpected happens.<br/> <br/>

<b>Title:</b> <%= @crypted_note.description %><br/> <br/>

<b>Decryption Script:</b><br/> <br/>

<div style="margin: 0 30px">
  <%= code_block @crypted_note.backup_code %>
</div>

<br/> <br/>

<%= render "crypted_notes/code_block_instructions" %>
