<div style="background: black; color: white; border-radius: 10px; font-size:11px; word-wrap: break-word;">
  <div style="background: #333; padding: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px; text-align:right; color: #eee"><code>JavaScript</code></div>
  <code style="padding: 20px 10px; display: block"><%= code %></code>
</div>
