<h1>Crypted notes</h1>

<div id="crypted_notes" class="box-list">
  <% @crypted_notes.each do |crypted_note| %>
    <div class="box-list-item"><%= render crypted_note %></div>
  <% end %>
</div>

<br/>

<%= link_to "New crypted note", new_crypted_note_path, class: "btn-primary" %>
