

<% if @crypted_notes.any? %>
  <h1>Your Secrets</h1>
  <%= render "crypted_notes", crypted_notes: @crypted_notes %>
<% end %>

<% if @shared_crypted_notes.any? %>
  <h1>Secrets from Others</h1>
  <%= render "crypted_notes", crypted_notes: @shared_crypted_notes %>
<% end %>

<% if @crypted_notes.empty? && @shared_crypted_notes.empty? %>
  <h1>Welcome to DecLegacy</h1>
  <div>
    You don't have any secrets. Let's create the first one!
  </div>
<% end %>

<div class="mt-8">
  <%= link_to "Create New Secret", new_crypted_note_path, class: "btn-primary" %>
</div>
