<p style="color: green"><%= notice %></p>

<%= @crypted_note.description %>


<div>
  <%#= link_to "Edit this crypted note", edit_crypted_note_path(@crypted_note) %> 
  <%= link_to "Back to crypted notes", crypted_notes_path %>

  <%#= button_to "Destroy this crypted note", @crypted_note, method: :delete %>
</div>
