
<h1>Permitted contacts</h1>

<div id="permitted_contacts" class="box-list">
  <% @permitted_contacts.each do |permitted_contact| %>
    <div class="box-list-item">
      <%= render permitted_contact %>
    </div>
  <% end %>
</div>

<br/>

<%= link_to "New permitted contact", new_crypted_note_permitted_contact_path(@crypted_note) %>
